html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; 
  background-color: white;
  color: black;
}

#footer {
	text-align: center;
  padding-top: 1em;
	padding-bottom: 1em;
	background-color: orange;
	display: inline-block;
	color:grey;
	width: 100%;
}

.navbar { 
	display: inline-block;
	background-color: orange;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
}

.navbar a {
	padding:2em;
	padding-left: 5em;
}

.field {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	width: 15em;
	padding: 1em;
	border: 0.1em solid;
	line-height: 2em;
	float: left;
	margin: 10%;
	padding-left: 2em;
}

.field input {
	border-radius:1em;
 	-moz-border-radius:1em;
 	-webkit-border-radius:1em;
 	line-height: 1.5em;
 	float: right;
 	padding: 0.3em;
}

.forgot {
	padding-top: 1em;
	padding-bottom: 1em;
}

.submit button{
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	background-color: #008AE6;
	padding: 0.5em;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 20em) {
  
}

@media screen and (min-width: 50em) {
 
}

@media screen and (min-width: 80em) {
  
}